body {
  width: 400px;
  min-height: 600px;
  background: #121212;
  color: #f3f3f3;
}

.container .loader {
  color: #f3f3f3;
}

.container .content {
  width: 100%;
  height: auto;
}

.tab-panel {
  display: block;
  width: 100%;
}

.tab-panel {
  display: block;
  width: 100%;
}

.tab-panel ul.tabs {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.tab-panel ul.tabs li {
  display: inline-block;
  border-top: 1px solid #f3f3f3;
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
  border-radius: 5px 5px 0px 0px;
  padding: 5px 0px;
}

.tab-panel ul.tabs li.active {
  background-color: #1f1f1f;
}

.tab-panel ul.tabs li.active a, .tab-panel ul.tabs li a:hover {
  color: #0092F3;
}

.tab-panel ul.tabs li a {
  color: #f3f3f3;
  text-decoration: none;
  padding: 0px 25px;
}

.tab-panel ul.tabs li a:hover {
  transition: color 200ms ease-out;
}

.button {
  border: none;
  padding: 5px 20px;
  display: inline-block;
  background-color: #1056C9;
  color: #121212;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: #0092F3;
}

.container {
  background-color: #1f1f1f;
  padding-top: 1px;
}

.container ul{
  margin: 0;
  padding: 0;
}

.container ul li{
  display: block;
  clear: left;
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
}

.container ul li:hover h2 {
  color: #0092F3;
  transition: color 200ms ease-out;
}

.container ul li::after{
  content: " ";
  border-bottom: solid 1px #2f2f2f;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.container div::after{
  content: " ";
  clear: left;
  display: block;
}

.container h2 {
  font-size: 16px;
  color: #f3f3f3;
  padding-bottom: 4px;
}

.container img{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 140px;
  height: auto;
}

.container .body{
  color: #aaa;
}

.container .isVideo-false{
  display: none;
}
.container .isVideo-true{
  display: inline-block;
  margin-top: 5px;
  background-color: #fff21e;
  color: #121212;
  padding: 5px 10px;
  border-radius: 5px;
}

.container .loader{
  text-align: center;
  margin-top: 30px;
  width: 100%;
}