body {
  width: 400px;
  min-height: 600px;
  background: #121212;
  color: #f3f3f3;
}

#message .loader {
  color: #f3f3f3;
}

.control-panel {
  display: block;
  width: 100%;
}

.button {
  border: none;
  padding: 5px 20px;
  display: inline-block;
  background-color: #1056C9;
  color: #121212;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: #0092F3;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  display: block;
  clear: left;
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
}

ul li:hover h2 {
  color: #0092F3;
  transition: color 200ms ease-out;
}

ul li::after{
  content: " ";
  border-bottom: solid 1px #2f2f2f;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

div::after{
  content: " ";
  clear: left;
  display: block;
}

h2 {
  font-size: 16px;
  color: #f3f3f3;
  padding-bottom: 4px;
}

img{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 140px;
  height: auto;
}

.body{
  color: #aaa;
}

.isVideo-false{
  display: none;
}
.isVideo-true{
  display: inline-block;
  margin-top: 5px;
  background-color: #fff21e;
  color: #121212;
  padding: 5px 10px;
  border-radius: 5px;
}

.loader{
  text-align: center;
  margin-top: 30px;
  width: 100%;
}